In [2]:
# Import Neccessary files
import string
import pandas as pd

In [3]:
# Read CSV
df = pd.read_csv("Datasets/KCC.csv")

In [4]:
df.describe()

                       questions             answers
count                     178939              178816
unique                     90930               99352
top     query regarding pmkisan.  explain in details
freq                        1065                3130

In [5]:
newdf = df[:1000]
newdf

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...
...,...,...
995,asking that his broiler birds are 2 months old...,"advised, eggs will give at the age of 5-6 mont..."
996,informing that few nos. of his broiler birds a...,"advised,antibio tics powder for whole folk @ o..."
997,quary related to fish culture practice,explained in detail
998,disease of broilar,1.enrox powder @ 10g per 100 birds daily for t...
999,quary related to fishery loan,explined in detail

In [6]:
df = newdf
df

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...
...,...,...
995,asking that his broiler birds are 2 months old...,"advised, eggs will give at the age of 5-6 mont..."
996,informing that few nos. of his broiler birds a...,"advised,antibio tics powder for whole folk @ o..."
997,quary related to fish culture practice,explained in detail
998,disease of broilar,1.enrox powder @ 10g per 100 birds daily for t...
999,quary related to fishery loan,explined in detail

In [7]:
df.describe()

                                          questions             answers
count                                          1000                1000
unique                                          854                 743
top     asking about treatment of diarrhoea in cow.  explain in details
freq                                             15                  41

In [8]:
df.isnull().count()

questions    1000
answers      1000
dtype: int64

In [9]:
# Removing Punctuations From questions column
punctuations = string.punctuation
cols = df.columns
for c in cols:
    df[c] = df[c].str.strip()
    

    df['questions'] = df['questions'].str.replace(f"[{punctuations}]", "")

In [10]:
df

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...
...,...,...
995,asking that his broiler birds are 2 months old...,"advised, eggs will give at the age of 5-6 mont..."
996,informing that few nos of his broiler birds ar...,"advised,antibio tics powder for whole folk @ o..."
997,quary related to fish culture practice,explained in detail
998,disease of broilar,1.enrox powder @ 10g per 100 birds daily for t...
999,quary related to fishery loan,explined in detail

In [11]:
# Removing duplicate values
newdf =df.drop_duplicates(subset=['questions'])
df = newdf
newdf = df.drop_duplicates(subset=['answers'])

In [12]:
df = newdf
df.describe()

,questions,answers
count,675,675
unique,675,675
top,asking about control measure of ants in coconut,application of urea 100 grams and borax 50 gra...
freq,1,1

In [13]:
df

,questions,answers
0,asking about the control measure for aphid inf...,suggested him to spray rogor@2ml/lit.at evenin...
1,asking about the control measure of flower dro...,suggested him to apply fertilizer in recommend...
2,asking about how to avail kisan credit card lo...,suggested to consult with officer-marketing an...
3,asking about source of early ahu rice variety,suggested to take early ahu rice variety from ...
4,asking that he has not got proper friut from h...,suggested him to aplly recommended fertilizer ...
...,...,...
992,asking about the feed for broiler,suggested to give amrit feed to the broiler to...
995,asking that his broiler birds are 2 months old...,"advised, eggs will give at the age of 5-6 mont..."
996,informing that few nos of his broiler birds ar...,"advised,antibio tics powder for whole folk @ o..."
998,disease of broilar,1.enrox powder @ 10g per 100 birds daily for t...
999,quary related to fishery loan,explined in detail

In [14]:
# Removing ambiguous values

keys = ["details", "detail", "explained", "explaination", "explain", "transfer", "replied"]

df = df[~df.answers.str.contains('|'.join(keys))]

In [15]:
df.describe()

,questions,answers
count,554,554
unique,554,554
top,asking about control measure of bacterial wilt,application of urea 100 grams and borax 50 gra...
freq,1,1

In [16]:
df['answers'].value_counts()

application of urea 100 grams and borax 50 grams with 3 kg of compost around the base of the plant                 1
application of meghabor @ 2.5 ml per of water                                                                      1
application of phospomidon @ 2 ml per litre of water                                                               1
suggested to administer neblon powder @50 gm twice daily for five days.change the feed for 10 days and observe.    1
sonamukhi,luit,kapilee                                                                                             1
                                                                                                                  ..
suggested him to apply malathion 50ec@2ml/l water                                                                  1
suggested to spray bio-pesticide like-neem gold @ 5 mililitre/ litre of water                                      1
suggested to apply mancozeb@ 2 gram/litre of water.                                                                1
suggested him to administer intacal 100ml daily.along with that administer agrimin forte @40gm twice daily.        1
suggested to spray 5% malathion dust.                                                                              1
Name: answers, Length: 554, dtype: int64

In [17]:
newdf = df.sort_values(by=['answers'], axis=0)
df['answers']

0      suggested him to spray rogor@2ml/lit.at evenin...
1      suggested him to apply fertilizer in recommend...
3      suggested to take early ahu rice variety from ...
4      suggested him to aplly recommended fertilizer ...
6      suggested to approach district agricultural of...
                             ...
990    adviced to apply charge @ 2 ml per liter of water
992    suggested to give amrit feed to the broiler to...
995    advised, eggs will give at the age of 5-6 mont...
996    advised,antibio tics powder for whole folk @ o...
998    1.enrox powder @ 10g per 100 birds daily for t...
Name: answers, Length: 554, dtype: object

In [18]:
# #Write to file
# newdf.to_csv("Datasets/Farm_question_1.csv", index=False)

In [19]:
df.isnull().count()

questions    554
answers      554
dtype: int64

Merging questions

In [20]:
conv = pd.read_csv('Datasets/greetings.csv')

In [21]:
conv

                questions                                           answers
0                      hi                                             Hello
1                   hello                                              helu
2                      yo                                             heluu
3                good bye                                           Goodbye
4      what is your name?                                            Jarvis
5                     hii                                hello how are you?
6                    fine                                      good to here
7          What you doing                        You can ask me a questions
8    how can you help me?  I am chatbot, I can provide you with information
9                   Hello                                                Hi
10                     Hi                                             Hello
11                    Hey                                                Hi
12              Greetings                                                Hi
13              Hey There                                               Hey
14   Hi, How is it going?                                              Good
15  Hey, How is it going?                                              Fine
16                  Howdy                                               Hey
17                Whatsup                                      Nothing much
18     How are you doing?                                              Good
19      Nice to meet you.                                         Thank you
20         How do you do?                                   I'm doing well.
21  Hi, nice to meet you.                               Thank you. You too.
22                    Bye                                               C U
23                    C U                                               Bye
24                   Tata                                               Bye
25           Good Morning                                      Good Morning
26         Good Afternoon                                    Good Afternoon
27           Good Evening                                      Good Evening
28               Good Day                                          Good Day
29             What's up?                                          Not much

In [22]:
final_q = pd.concat([conv, df])
final_q

,questions,answers
0,hi,Hello
1,hello,helu
2,yo,heluu
3,good bye,Goodbye
4,what is your name?,Jarvis
...,...,...
990,fruit borer in brinjal,adviced to apply charge @ 2 ml per liter of water
992,asking about the feed for broiler,suggested to give amrit feed to the broiler to...
995,asking that his broiler birds are 2 months old...,"advised, eggs will give at the age of 5-6 mont..."
996,informing that few nos of his broiler birds ar...,"advised,antibio tics powder for whole folk @ o..."
998,disease of broilar,1.enrox powder @ 10g per 100 birds daily for t...

In [23]:
final_q.to_csv("Datasets/Final_PreProcessed_Dataset.csv", index=False)